@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	color: #555;
	margin: 0;
	font-family: "Montserrat";
	sans-serif;

}
#header {
	background-color: #1abc9c;
	height: 200px;
	line-height: 200px;
}
#header-title {
	display: block;
	float: left;
	font-size: 100px;
	font-weight: bold;
	color: white;
}
#header-nav {
	display: block;
	float: right;
	margin: 0;
}
#header-nav li {
	display: inline;
	padding-left: 20px;
	font-size: 30px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}
#header a {
	color: white;
	text-decoration: none;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#header a:active {
	color: #222;
}
#header a:hover {
	color: #222;
}
#footer {
	background-color: #2f2f2f;
	padding: 50px 0;
}
.column {
	min-width: 400px;
	display: inline-block;
	vertical-align: top;
}
#footer h1 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 40px;
}
#footer p {
	color: white;
	font-size: 20px;
	line-height: .8;
}
a {
	color: #1abc9c;
	text-decoration: none;
}
a:hover {
	color: #F6A623;
}
h1, h2, h3, h4 {
	color: #333;
}
p {
	line-height: 1.5;
	font-size: 14px;
}
#content {
	background-color: white;
	min-height: 1000px;
}
#content-title {
	font-size: 50px;
}
.item img{
	width: 400px;
	height: 600px;
}
.item {
	display: inline-block;
}
.item-in {
	display: inline-block;
	vertical-align: middle;
	min-width: 400px,
}
.contact-column {
	display: inline-block;
	padding-right: 10px;
}
#size-nav {
	font-size: 30px;
	font-weight: bold;
	padding-top: 50px;
}
.item p {
	line-height: 2.5;
}
.item span {
	font-weight: bold;
	font-size: 30px;
	padding-left: 100px;
}
#content-title span {
	font-size: 60px;
	color: gray;
}
